<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.buildbaseframe.infrastructure.user.persistence.mysql.mapper.UserPoMapper">
    <resultMap id="queryUser" type="com.example.buildbaseframe.infrastructure.user.persistence.repository.po.UserPo">
        <id column="id" property="id"/>
        <result column="name" property="nickname"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="description" property="introduction"/>
        <result column="gender" property="gender"/>
        <result column="dataStatus" property="data_status"/>
    </resultMap>

    <select id="findThis" resultType="com.example.buildbaseframe.infrastructure.user.persistence.repository.po.UserPo">
        select *
        from t_user
        where id = #{id}
    </select>

    <select id="findByName" resultMap="queryUser">
        select id, name, avatar_url, description, gender
        from t_user where name=#{name}
    </select>

</mapper>
